use IkiWiki::Setup::Standard {
	wikiname => "Monkeysphere",
	adminemail => 'webmaster@monkeysphere.info',
	
	srcdir => "/path/to/cloned/monkeysphere/repo/website",
	destdir => "/path/to/web/dir",
	
	url => "http://monkeysphere.info",
	
	rcs => "git",

 	wrappers => [
	    {
		wrapper => "/path/to/post-receive/hook",
		wrappermode => "0755",
	    }
 	    ],
	
	rss => 1,
	atom => 1,
	verbose => 0,
	syslog => 0,
	
	add_plugins => [qw{goodstuff favicon toc sidebar}],


	tagbase => "tags",
	
}
