h2 {
-moz-border-radius-topleft:4px;
-moz-border-radius-topright:4px;
background-color:#B67B4E;
color:black;
display:block;
font-weight:bold;
padding:0 0 0 10px;
}

body {
color:#3F403F;
font-family:"Liberation Sans",sans-serif;
font-size:0.95em;
}

*|*:visited 
color:#f6a464;
}

*|*:-moz-any-link {
text-decoration:none;
}

:-moz-any-link {
cursor:pointer;
}

a:link { 
  color: #CC6600;
  text-deoration: none;
}

a:visited { 
  color: #c2772b;
}

a:hover { 
  text-decoration: underline;
}

pre {
	background: #ddd;
	border: 1px solid #aaa;
	padding: 3px 3px 3px 3px;
	margin-left: 2em;
}

table.sitenav { 
 border-bottom: 2px solid black;
 padding: 0px;
 width: 100%;
 font-size: larger;
}

table.sitenav img.logo { 
 margin: 0px; 
 padding: 0px; 
 vertical-align: bottom;
}

table.sitenav a { 
  font-weight: bold;
  text-decoration: none;
  margin-left: 1em;
}

table.sitenav a:hover { 
  font-weight: bold;
  text-decoration: underline;
}
